<div class="card portfolio-item" data-id="<%= portfolio_item.id %>">
  <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb'), class: "portfolio-thumb" %>
  <p class="card-text">
    <%= link_to portfolio_item.title, portfolio_path(portfolio_item) %>
    <br>
    <span><%= portfolio_item.subtitle %> </span>
  </p>
</div>
