
<div class="inner cover">
  <h1 class="cover-heading">Welcome!</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
  <p class="lead">
    <%= link_to 'Learn more', about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

